:root {
  --primary-color: 0, 0, 0;
  --theme-color: 30, 120, 220; /* Default theme color */
}

hr {
  border-color: rgba(var(--primary-color),.09);
}

* {
  outline: none;
}


.dot {
  @apply bg-primary rounded-full w-2 h-2;
}


.sqr1 {
  @apply !w-1 !h-1;
}
.sqr2 {
  @apply !w-2 !h-2;
}
.sqr3 {
  @apply !w-3 !h-3;
}
.sqr4 {
  @apply !w-4 !h-4;
}
.sqr5 {
  @apply !w-5 !h-5;
}
.sqr6 {
  @apply !w-6 !h-6;
}
.sqr8 {
  @apply !w-8 !h-8;
}
.sqr10 {
  @apply !w-10 !h-10;
}



.vr {
  @apply border-l-[3px] border-[#aaa] self-center min-h-[20px] inline-block;
}






/* Animations */

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to { 
      transform: rotate(360deg);
  }
}


@-webkit-keyframes rotate {
  from {
      -webkit-transform: rotate(0deg);
  }
  to { 
      -webkit-transform: rotate(360deg);
  }
}

.load {
width: 14px;
height: 14px;
/* margin: 110px auto 0; */
border-color: inherit;
border-width: 3px;
border-radius: 50%;
border-right-color: transparent;
border-bottom-color: transparent;
 -webkit-transition: all 0.5s ease-in;
  -webkit-animation-name:             rotate; 
  -webkit-animation-duration:         1.0s; 
  -webkit-animation-iteration-count:  infinite;
  -webkit-animation-timing-function: linear;
    
     transition: all 0.5s ease-in;
  animation-name:             rotate; 
  animation-duration:         1.0s; 
  animation-iteration-count:  infinite;
  animation-timing-function: linear; 
}