@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-primary/10;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer base {

  .test {
    @apply border border-red-500;
  }

  h1 {
    @apply text-6xl font-bold;
  }
  h2 {
    @apply text-5xl font-bold;
  }
  h3 {
    @apply text-4xl font-bold;
  }
  h4 {
    @apply text-2xl font-bold;
  }
  h5 {
    @apply text-xl font-bold;
  }
  h6 {
    @apply text-base font-bold;
  }


  .pd-md {
    @apply px-16 py-10;
  }
  .px-md {
    @apply px-16;
  }

}

@layer components {
  .card {
    @apply bg-secondary p-16 rounded-3xl 
  }

  .tooltip {
    @apply bg-[#D9A513]/20 border border-l-[10px] border-l-[#D9A513] text-[#A97500] p-2;
  }
}