@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply light-bg;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer base {
  
  .test {
    @apply border border-red-500;
  }
  
  .light-bg {
    background-color: rgba(var(--primary-color), 0.05);
  }

  h1 {
    @apply text-5xl sm:text-6xl font-bold;
  }
  h2 {
    @apply text-4xl sm:text-5xl font-bold;
  }
  h3 {
    @apply text-2xl sm:text-4xl font-bold;
  }
  h4 {
    @apply text-xl sm:text-2xl font-bold;
  }
  h5 {
    @apply text-base sm:text-xl font-bold;
  }
  h6 {
    @apply text-sm sm:text-base font-bold;
  }


  .btn {
    @apply rounded-md border bg-primary/80 text-white p-2 px-4 ;
  }

  .pd-md {
    @apply px-6 sm:px-16 py-10;
  }
  .px-md {
    @apply px-6 sm:px-16;
  }

  
  .btn-theme {
    @apply !bg-theme1 !text-secondary !capitalize flex gap-2 p-2 !px-4;
  }
  .btn-theme-light {
    @apply !bg-secondary !text-primary p-2 !px-4 flex gap-2 !shadow-none hover:shadow !capitalize;
  }


  .error {
    @apply bg-red-300 px-2 py-1 rounded-md text-red-800 font-bold;
  }
  .success {
    @apply bg-green-300 px-2 py-1 rounded-md text-green-800 font-bold;
  }
  .warn {
    @apply bg-orange-300 px-2 py-1 rounded-md text-orange-800 font-bold;
  }

  .vector-bg {
    background-image: url(./assets/images/bg-vector.png);
    background-size: cover;
  }
}

@layer components {
  .card {
    @apply bg-secondary p-16 rounded-3xl 
  }

  .tooltip {
    @apply bg-[#D9A513]/20 border-l border-l-[10px] border-l-[#D9A513] text-[#A97500] p-2;
  }
}